.chart {
  position: relative;
  margin-top: 24px;
}

.chart .back-chart .item {
  align-items: center;
  width: calc(100% - 150px);
  height: 76px;
  padding: 24px;
  margin-bottom: 1px;
  display: flex;
}

.chart .back-chart .item .title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.chart .back-chart .item .num {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.chart .back-chart .cover {
  background-color: #e5f0ff;
}

.chart .back-chart .notice {
  background-color: #f3f7fd;
}

.chart .back-chart .visitor {
  background-color: #f0f8f0;
}

.chart .back-chart .pay {
  background-color: #fffbf4;
}

.chart .back-chart .icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.chart .funnel {
  position: absolute;
  top: 0;
  right: 30px;
}

.chart .funnel-img {
  width: 242px;
  height: 228px;
}

.chart .funnel .titles {
  color: #fff;
  position: absolute;
  top: 0;
  left: 50px;
}

.chart .funnel .titles p {
  line-height: 76px;
  text-align: center;
}

.chart .funnel-title:nth-child(2) {
  top: 100px;
  left: 50px;
}

.chart .funnel-title:nth-child(3) {
  top: 175px;
  left: 50px;
}

.chart .funnel-change {
  width: 60px;
}

.chart .funnel-change .label {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

.chart .funnel-change .number {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

.chart .funnel .first {
  position: absolute;
  left: 183px;
  top: 56px;
}

.chart .funnel .next {
  position: absolute;
  left: 173px;
  top: 133px;
}

.chart .funnel .end {
  position: absolute;
  left: 240px;
  top: 95px;
}