.crm-customer-detail {
  .article-wrap {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 12px;

    .ant-tabs-card-bar {
      .ant-tabs-tab-active {
        color: rgba(0, 0, 0, 0.8);
        background-color: #fff;
      }

      .ant-tabs-tab:hover {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .base-info {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 12px;

    .head {
      display: flex;

      .head-img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }

      .reason {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
      }
    }

    .status {
      color: #f56c1d;
    }
    .statusasd{
      color: #f56c1d;
      font-size: 14px;
    }
  }

  .title {
    font-size: 16px;
    color: #000;
    // margin-bottom: 10px;
    .link {
      font-size: 12px;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      display: flex;
      align-items: center;
      border: 1px solid #f56c1d;
      color: #f56c1d;
      height: 26px;
      padding: 0 10px;
      font-size: 12px;
      border-radius: 4px;
      margin: 0 10px 5px 0;
    }
  }

  .item {
    display: flex;
    align-items: flex-start;
  }

  .label {
    display: inline-block;
    width: 130px;
    text-align: right;
    color: #666;
  }

  .name {
    font-size: 16px;
    font-weight: 700;
  }

  .link {
    padding-left: 10px;
  }

  .item {
    .info {
      font-weight: 500;
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  .distribute {
    display: inline-flex;
    align-items: center;
    border: 1px solid #f56c1d;
    color: #f56c1d;
    height: 20px;
    padding: 0 5px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 5px;
  }

  .businessLicenseUrl {
    width: 90px;
    height: 90px;
  }
}
